page-login {
    ion-content {
        background: linear-gradient(to right, #f3f3f3, #FFFFFF, #f3f3f3);
    }
    %currency-style {
        margin: 5%;
        background-color: #7b68ee;
        padding: 10px 35px;
        color: white;
        border: 1px solid #7b68ee;
        border-radius: 50%;
    }
    h1:first-child {
        margin: 0 !important;
    }
    h1 {
        span {
            display: inline-block;
            font-size: 26px;
        }
        .bold {
            color: grey;
            font-weight: bold;
        }
        .blue {
            color: #ffffff;
            background-color: #7b68ee;
            border: 1px solid #7b68ee;
            border-radius: 5px;
            padding: 10px;
        }
        .slogan {
            line-height: 0.2;
            font-size: 14px;
            font-style: italic;
            text-decoration: underline;
            text-align: right;
            color: grey;
            margin: 14px 20%;
        }
    }
    .des-content {
        span {
            display: block;
            font-size: 20px;
            font-weight: 400;
            color: grey;
            margin: 0 auto;
            text-align: center;
            font-style: italic;
        }
    }
    .login-button {
        margin-top: 20%;
        width: 100%;
        background-color: #7b68ee;
        .google {
            color: white;
        }
        .margin-google {
            margin-left: 17%;
        }
    }
    .logo {
        margin: 15% 0;
        text-align: center;
        span {
            display: inline-block;
        }
        .xrp,
        .inr {
            font-size: 40px;
            margin: 2%;
            @extend %currency-style;
        }
        .usd {
            font-size: 50px;
            @extend %currency-style;
        }
    }
}