<ion-content padding>
    <ion-navbar>
        <button ion-button menuToggle>
          <span class="menu-icon">Em</span>
        </button>
        <h1 text-center>
          <span class="bold">EarnFree</span><span class="blue">Money</span>
        </h1>
      </ion-navbar>
    
      <ion-grid class="user-info">
        <ion-row>
          <ion-col col-3 class="logo">
              <span class="menu-icon">WH</span>
          </ion-col>
          <ion-col col-9>
            <span class="user-details">
              Ripple Withdraw History
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
  <ion-card>
  <h4 *ngIf="transaction.length == 0">No transactions available</h4>
</ion-card>
  <ion-card *ngFor="let history of transaction">
    <ion-row>
      <ion-col><span class="id">Transaction Id</span></ion-col>
      <ion-col><span class="data">{{history?.cTime}}</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span class="id">Withdraw Points</span></ion-col>
      <ion-col><span class="data">{{history?.myBalance  | number:'1.4-4'}}</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span class="id">Wallet Address</span></ion-col>
      <ion-col><span class="data">{{history?.withAdd}}</span></ion-col>
    </ion-row>
</ion-card>

<ion-card class="card-block" (click)="goToWithdraw()">
    <ion-card-content class="card-content">
        <span class="logo">RWP</span>
      <ion-card-title class="card-title">
       Back to Withdraw
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card class="card-block" (click)="goToHome()">
      <ion-card-content class="card-content">
          <span class="logo">BH</span>
        <ion-card-title class="card-title">
          Back to Home
        </ion-card-title>
      </ion-card-content>
    </ion-card>
</ion-content>
