<ion-content padding>

    <ion-navbar>
        <button ion-button menuToggle>
          <span class="menu-icon">Em</span>
        </button>
        <h1 text-center>
          <span class="bold">EarnFree</span><span class="blue">Money</span>
        </h1>
      </ion-navbar>
    
      <ion-grid class="user-info">
        <ion-row>
            <ion-col col-4 class="logo">
                <span class="menu-icon">WV</span>
            </ion-col>
          <ion-col col-8 text-center>
            <span class="user-details">
              Watch Video and earn usd points
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    

    <div class="details">
        <ion-list>
          <ion-item color="primary">
            <div text-left class="left">
              <span>Total Points</span>
            </div>
            <div text-right class="right">
                {{balance?.totalBalance | number:'1.0-0'}}
                <span *ngIf="(balance?.totalBalance | number:'1.4-4') == null">0</span> Points
            </div>
          </ion-item>
        </ion-list>
      </div>
  <p class="timer" *ngIf="(tObj.demoTime) > (diffTime.cTime); else claimNow">{{((tObj.demoTime) - (diffTime.cTime))+(30*60*1000) | date:'mm:ss' }}</p>
  <ng-template #claimNow>
    <p class="timer">Watch Now</p>
  </ng-template>
  <button ion-button (click)="claimRipple()" color="primary" class="buttons" [disabled]="(tObj.demoTime) > (diffTime.cTime)">
    Watch Video
  </button>

  <ion-card class="card-block" (click)="goToWithdraw()">
      <ion-card-content class="card-content">
        <span class="logo"><ion-icon name="logo-usd"></ion-icon></span>
        <ion-card-title class="card-title">
          Redeem<br /> USD
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-card class="card-block" (click)="goToHome()">
      <ion-card-content class="card-content">
        <span class="logo"><ion-icon name="logo-usd"></ion-icon></span>
        <ion-card-title class="card-title">
          Transaction History
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    
</ion-content>
